In [1]:
pip install kafka-python

Defaulting to user installation because normal site-packages is not writeable
Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     ---------------------------------------- 0.0/246.5 kB ? eta -:--:--
     ----------------- -------------------- 112.6/246.5 kB 3.3 MB/s eta 0:00:01
     -------------------------------------  245.8/246.5 kB 3.0 MB/s eta 0:00:01
     -------------------------------------- 246.5/246.5 kB 2.5 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['52.66.85.110:9092'],
                        value_serializer=lambda x:
    dumps(x).encode('utf-8'))

In [3]:
producer.send('demo_test', value={'hello' : 'cheryl'})

In [6]:
df = pd.read_csv("INFY stocks data.csv")

In [7]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Day,Month,Quarter,Year
0,21-Aug-18,695.000000,698.000000,686.875000,691.974976,598.451782,8361482,21,8,3,2018
1,23-Aug-18,696.500000,700.750000,692.674988,698.700012,604.267700,7717182,23,8,3,2018
2,24-Aug-18,698.250000,700.950012,688.049988,689.150024,596.008606,7053000,24,8,3,2018
3,27-Aug-18,691.500000,709.974976,690.700012,707.700012,612.051453,7012950,27,8,3,2018
4,28-Aug-18,708.599976,719.200012,705.750000,712.349976,616.072937,6496890,28,8,3,2018

In [9]:
# random row
df.sample(1).to_dict(orient='records')[0]

{'Date': '25-Jun-19',
 'Open': 744.0,
 'High': 750.900024,
 'Low': 737.299988,
 'Close': 748.099976,
 'Adj Close': 666.921997,
 'Volume': 3677911,
 'Day': 25,
 'Month': 6,
 'Quarter': 2,
 'Year': 2019}

In [15]:
while True:
    dict_stock = df.sample(1).to_dict(orient='records')[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [12]:
producer.flush()